@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Just+Me+Again+Down+Here&family=Outfit:wght@100..900&display=swap');

:root {
  --background-primary: #A35BA5;
  --background-secondary: #D7B0C2;
  --grayscale-primary: #B7B7B7;
  --grayscale-secondary: #E3E3E3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Outfit", serif;
  color: #100410;
}

button {
  font-family: "Outfit", serif;
}